<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">

  <title>E1 - ChatRoom</title>
  <meta name="description" content="Chat room">
  <meta name="author" content="Diego Vásquez">

  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <h1>REST Api, chatRoom</h1>
  <h3>Curso: Arquitectura de Sistemas de Software</h3>
  <h3>Grupo 20</h3>
  <p>Soy Batman!! x2</p>
  <script src="/js/scripts.js"></script>
</body>
</html>
