<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="utf-8">

  <title>E1 - ChatRoom</title>
  <meta name="description" content="Chat room">
  <meta name="author" content="Diego Vásquez">

  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <script type="text/javascript" src="/js/css-inject.js"></script>
  <script type="text/javascript">
    var styles = new cssInject.CssRules();
    // You can declare an object containing corresponding selectors and assigned properties. 
    // These automatically get tracked according to existing queued selectors if there are any matches. 
    // In a valid object to pass to cssInject, the top level key corresponds to the selector,
    // and the second level keys correspond to the css properties.
    
    var rules = {
        "h1": {
            "font-size": "1px"
        }
    };

    rules = JSON.stringify(rules);
    rules = JSON.parse(rules);
    // Selectors can be dynamically defined and attached to an object.;
    styles.objectAdd(rules); 

</script>
  <h1>REST Api, chatRoom</h1>
  <h3>Curso: Arquitectura de Sistemas de Software</h3>
  <h3>Grupo 20</h3>
  <script src="/js/scripts.js"></script>
  
  
</body>
</html>
